<div id="login">
	<aside class="login-panel text-center">
		<img class="logo"
						src="https://assets-aone-valid.neo9-solutions.eu/E/C/4/C/EC4C1F4708A7CC86467D8823D3506772.png">
		<h1 class="text-center" [innerHtml]="'login.title' | translate"></h1>
		<form novalidate [formGroup]="loginForm">
			<mat-form-field>
				<input matInput type="text" formControlName="login" placeholder="{{'login.id.placeholder' |translate}}">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="password"
								placeholder="{{'login.pwd.placeholder' | translate}}">
			</mat-form-field>
			<button type="submit" mat-raised-button color="primary" (click)="submitLoginForm()">Connexion</button>
		</form>
		<div class="bottom">
			<a>{{'login.lost' | translate}}</a>
		</div>
	</aside>
</div>