<div id="login">
	<aside class="login-panel text-center">
		<img class="logo" src="../login/img/angular.png">
		<h1 class="text-center" [innerHtml]="'login.title' | translate"></h1>
		<form novalidate [formGroup]="loginForm">
			<mat-form-field>
				<input matInput type="text" formControlName="login" placeholder="{{'login.id.placeholder' |translate}}">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="password"
								placeholder="{{'login.pwd.placeholder' | translate}}">
			</mat-form-field>
			<button type="submit" mat-raised-button color="primary" (click)="submitLoginForm()">Connexion</button>
		</form>
		<div class="bottom">
			<a>{{'login.lost' | translate}}</a><br>
			with love by <a href="mailto:nureynisow@gmail.com"><u>nureynisow</u></a>
		</div>
	</aside>
</div>