<div id="menu">
	<aside>
		<div fxLayout="row" class="margin-bottom-md-xs">
			<div fxFlex="1 1 100%">
				<img class="logo" src="commons/img/angular.png">
				<h1 class="font FontUbuntuLight margin-top-lg-xs">KISS-NG5</h1>
			</div>
		</div>
		<mat-nav-list>
			<mat-list-item routerLink="/home">
				<i class="fa fa-list-ul text-orange1-xs"></i>
				<div class="mat-list-text">
					<a matLine>Dashboard</a>
				</div>
			</mat-list-item>
			<mat-list-item routerLink="/home/menu2">
				<i class="fa fa-plus-square-o text-32-xs text-orange1-xs"></i>
				<div class="mat-list-text">
					<a matLine>Menu item 2</a>
				</div>
			</mat-list-item>
		</mat-nav-list>
		<div class="bottom">
			<mat-nav-list>
				<mat-list-item (click)="logout()">
					<i class="fa fa-power-off text-orange1-xs"></i>
					<div class="mat-list-text">
						<a matLine><span>Logout</span></a>
					</div>
				</mat-list-item>
			</mat-nav-list>
		</div>
	</aside>
</div>
